// Fonts
$ff: "Fira Sans", sans-serif;
$fw-r: 400;
$fw-m: 500;
$fw-b: 800;

//Font size
// $fs14: 14px; // Small (для подписей, адреса, расписания) s
// $fs15: 15px; // Medium / Intermediate (промежуточный размер) m
// $fs16: 16px; // Base / Regular (основной текст сайта) r
// $fs18: 18px; // Large (для заголовков, акцентных элементов) l

$fs14: 14px;
$fs15: 15px;
$fs16: 16px;
$fs18: 18px;

$fs-menu-link: 22px;
$fs-menu-sublink: $fs16;
$fs-logo: 35px;

// font-size-btn
$fs-btn: $fs16;

//Line Height
$lh-main: 1.5; // title
$lh-text: 1.2; // text
$lh-st: 1; // subtext

// Colors
$main-color: #fec80b;
$main-color2: #ffd43a;
$main-color3: #e9c135;

$bg-color: rgb(214, 159, 57);

$btn-color: white;
$accent-color: black;
$text: #a1a1a1;
$hover-color: #4267ee;

// Container || max-width: $container-w + ($container-p * 2);
// $container-w: 1440px;
// $container-p: 60px;
$container-w: 1238px;
$container-p: 10px;

//Transition
$tr: all 0.5s ease;
$tr-link: all 1.5s ease;



// ==========================================
// Брейкпоинты (Физические границы устройств)
// ==========================================
$bp-desktop: 1200px; // Большие мониторы и ПК
$bp-1024:    1024px; // Горизонтальный планшет (iPad Landscape) / Старые мониторы
$bp-laptop:  991px;  // Начало обычных планшетов (Всё, что ниже ноутбуков)
$bp-mobile:  767px;  // Начало мобильных телефонов (Всё, что ниже планшетов)

// Сработает на 1023px и ниже (Горизонтальные планшеты и мелкие экраны ПК)
@mixin laptop {
    @media (max-width: ($bp-1024 - 1px)) {
        @content;
    } 
}

// Сработает на 991px и ниже (Стандартные планшеты в вертикальном режиме)
@mixin tablet {
    @media (max-width: #{$bp-laptop}) {
        @content;
    } 
}

// Сработает на 767px и ниже (Мобильные телефоны)
@mixin mobile {
    @media (max-width: #{$bp-mobile}) {
        @content;
    } 
}
